
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8E7E7;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
}


/*------------------ Felles headings ----------------*/

#pageHeading {
    margin-top: 150px;
    position: relative;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.pageSubHeadings {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    margin-top: 90px;
}

@media screen and (max-width: 900px) {
    #pageHeading {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .pageSubHeadings {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    #pageHeading {
        font-size: 30px;
    }

    .pageSubHeadings {
        font-size: 25px;
        margin-top: 60px;
    }
}

/* Felles knapper */

.pageButtons {
    font-size: 20px;
    margin: 20px 10px 20px 10px;
    height: 50px;
    width: 200px;
    background-color: #6D7B48;
    color: white;
    border: none;
}
.pageButtons:hover {
    background-color: #B7C68B;
    cursor: pointer;
}

/* Felles flexbox, brukes på forside, program og om festivalen */

.flexContainerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.infoBilde, .infoBilde2, .infoText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 25%;
    margin: 30px 30px 30px 30px;
}

.infoText {
    flex-direction: column;
    overflow: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.infoText p {
    margin: 1px; /* Gjelder for programsiden som har flere p-elementer i samme div-en */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.infoBilde, .infoBilde2 {
    overflow: hidden;
}

.infoBilde2 {
    display: none;
}

.infoBilde img, .infoBilde2 img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 650px) {
    .infoBilde2 {
        display: contents;
    }
    .infoBilde {
        display: none;
    }
    .infoText {
        width: 100%;
    }
}


/* CSS for popup/modal. Koblet til modal_popup - JavaScript */
/* Brukte https://www.youtube.com/watch?v=YARYSKySwhg som kilde */

/* Div som popup-en lages inni */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: flex-start;
}
/* Definerer en div med alt innholdet som skal være inne i popup-en */
.modal-content {
    position: relative;
    background-color: #fff;
    width: 50%;
    max-height: 75%;
    margin: 80px;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    overflow: auto;
}
/* Overskriften til popup-en */
.modal-content h1 {
    text-align: center;
    margin-bottom: 24px;
}
/* Tekst-elementene til popup-en */
.modal-content p {
    margin: 16px 0;
    line-height: 24px;
}
/* x-en til å lukke popup-vinduet */
.modal-close { 
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    padding: 0 7px;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
}
/* Endrer farge når man hovrer lukke-knappen */
.modal-close:hover, .modal-close:focus {
    color: rgba(0,0,0,0.5);
}

/* Gjør kartinfo-boksen større */
@media screen and (max-width: 650px) {
    .modal-content {
        width: 100%;
    }
}

/*------------------------ NAVBAR -------------------------*/

#navbar{
    width: 100%;
    height: 90px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#navbarLogo{
    position: absolute;
}

#navbarElements{
    background-color: white;
    height: 90px;
    width: 100%;
    top: 0px;
    font-size: 13pt;
}

#navbarElements ul{
    list-style-type: none;
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}

#navbarElements li{
    display: inline;
}

.otherPage{
    padding: 18px;
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

#currentPage {
    color: #6D7B48;
    border-bottom: solid #6D7B48 2px;
    text-decoration: none;
    padding: 18px;
    margin-left: 5px;
}

#navbarElements a:hover{
    color: #B7C68B;
    border-bottom: solid #B7C68B 2px;
}

#navbarMobile {
    height: 30px;
    width: 40px;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 102;
}

.hamburgerLine {
    height: 5px;
    width: 100%;
    background-color: #6D7B48;
    margin-top: 5px;
}

#navbarMobile:hover div {
    background-color: #B7C68B;
}

#clickCoverNavbarMobile {
    position: fixed;
    width: 100%;
    height: 120vh;
    margin-top: -200px;
    display: none;
    z-index: 101;
}

#navbarElementsMobile {
    width: 100%;
    height: 200px;
    background-color: white;
    float: right;
    margin-top: -60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    position: fixed;
    z-index: 102;
    font-size: 13pt;
}

#navbarElementsMobile a, #navbarElementsForside a {
    text-decoration: none;
}

.navbarElementButtonMobile {
    height: 20px;
    width: 95%;
    margin: auto;
    background-color: #E8E7E7;
    margin-bottom: 5px;
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 20px;
    cursor: pointer;
}

.otherPageMobile p:hover, #currentPageMobile p:hover {
    background-color: #B7C68B;
}

#currentPageMobile p{
    background-color: #6D7B48;
    color: white;
}

@media screen and (max-width: 900px) {
    #navbarMobile {
        display: block;
    }

    #navbarElements ul {
        display: none;
    }
}


/*-------------------------- FOOTER ------------------*/

#footer{
    width: 100%;
    height: 170px;
    margin-top: 100px;
    position: relative;
    top: 100%;
    background-color: #6D7B48;
}

#soMeButtons{
    width: 250px;
    padding-left: 25px;
    padding-top: 55px;
    float: left;
    }

#soMeButtons img{
    height: 60px;
    padding-right: 20px;
    margin: auto;
}

#mainSponsorButtons{
    width: 300px;
    padding-top: 65px;
    float: right;
    padding-right: 25px;
}

#mainSponsorButtons img{
    width: 80px;
    padding-left: 10px;
    float: right;
}

#toTopOfPageDefault {
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
    cursor: pointer;
}

#toTopOfPageDefault img {
    width: 80px;
}

#toTopOfPageHover {
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
}

#toTopOfPageHover img {
    width: 80px;
}

#toTopOfPageDefault:hover img{
    visibility: hidden;
}

#copyright {
    color: white;
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 8pt;
    bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 900px) {

    #mainSponsorButtons{
        width: 250px;
        padding-top: 72px;
    }

    #mainSponsorButtons img {
        width: 55px;
        padding-left: 8px;
    }

    #soMeButtons{
        width: 200px;
        padding-top: 65px;
        float: left;
    }

    #soMeButtons img{
        height: 40px;
        padding-right: 15px;
    }

}

/* Nødvendig justering på 560px for at footerelementer ikke skal kollidere */
@media screen and (max-width: 560px) {
    #footer  {
        height: 285px;
    }

    #mainSponsorButtons {
        width: 300px;
        height: 50px;
        padding: 40px 0px 0px 0px;
        margin: auto;
        float: none;
    }

    #soMeButtons {
        width: 255px;
        height: 50px;
        padding: 30px 0px 0px 0px;
        margin: auto;
        float: none;
    }

    #soMeButtons img {
        width: 60px;
        height: 60px;
        padding-left: 10px;
        padding-right: 10;
    }

    #mainSponsorButtons img{
        width: 80px;
        height: auto;
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    #toTopOfPageDefault, #toTopOfPageHover {
        bottom: 25px;
    }

    #copyright {
        bottom: 7px;
    }
}
/* Konstant width på liten skjermbredde */
@media screen and (max-width: 350px) {
    #footer {
        width: 350px;
    }
}



/* ------------------ FORSIDE -------------------------- */


/*Spesifikt for slagordet på forsiden*/

#wecomeScreenId + #pageHeading {
    margin-top: 60px;
}


/*Video på forside*/
video {
    height: auto;
    width: 100%;
    z-index: -5;
  }
/*Reservebilde på forside*/
#reserve_img{
	width: 100%;
}

/*For visning på små skjermer*/
@media (max-width: 600px){
    video {
      display: none;
    }
    #logoWelcomeId{
        display: none;
    }

    #counterWrapperId{
        z-index: 10;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        position: absolute;
        margin-top: 30%;
        left: 50%;
        width: 50%;
    }

  }
  /*Viser ikke reservebilde om skjermen er stor nok*/
 @media (min-width: 600px){
    #reserve_img {
      display: none;
    }
  }


#wecomeScreenId{
    /*Bakgrunn*/
    padding-top: 85px;
    background-color: #6D7A49;
    border-bottom: #6D7A49 5px solid;
    width: 100%;

    /*tekst*/
    color: white;
  
    /*Plassering av counter*/
    justify-content: center;
}

#counterWrapperId{
    z-index: 10;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    margin-top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    
}

#logoWelcomeId{
    width: 50%;
    margin-top: -20%;
}


#countdownId{
    display: flex;
    justify-content: center;
}

#billettkjopHomePageId{
    font-size: 15px;
    margin: 5px 5px 5px 5px;
    height: 30px;
    width: 150px;
    background-color: white;
    color: #6D7A49;
    display: block;
    border: none;
}


#billettkjopHomePageId:hover{
    background-color: #6D7A49;
    color: white;
    cursor: pointer;

}





.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}


#finishMessageId{
    display: none;
    color: white;
    font-size: 30px;
    font-style: bold;
}

.counterText{
    font-weight: bold;
    margin-top: -50px;
}

.counterNumber{
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
}


/*  --------------------------  PROGRAM ------------------------- */

/* Knapper øverst på programsiden*/
#flexContainerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
/* Overskrift til hvilken dag artistene spiller */
.consertDay {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

/* Tilpasninger for mindre skjerm */
@media screen and (max-width: 900px) {
    .programButtons {
        font-size: 20px;
        height: 55px;
        width: 200px;
    }
    .infoText p {
        font-size: 15px;
    }
}
/* Setter elementene til å være i kolonne nedover, fjerner knappene øverst og endrer skriftstørrelser på underoverskriftene */
@media screen and (max-width: 650px) {

    .flexContainerMain {
        flex-direction: column;
    }
    .consertDay {
        font-size: 30px;
    }
    .infoText {
        margin: 0;
        width: 100%;
    }
}

/*  --------------------------  BILLETTKJØP ------------------------- */

#imgDiv {
    position: absolute;
    width: 35%;
    right: 10%;
    top: 210px;
}

#ticketImg  {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

#conditionsLabel, #updatesLabel {
    font-size: 15px;
}

/* Unik bredde på knappen i billettkjøp */
#submit {
    margin-left: 10px;
    margin-top: 10px;
    width: 359px;
}

#formDiv    {
    position: relative;
    margin-left: 10%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 20px;
}

.collectionDiv  {
    position: relative;
    display: flex;
}

#firstColumn1, #firstColumn2, #firstColumn3    {
    position: relative;
    margin: 5px;
    margin-left: 10px;
}

#secondColumn1  {
    position: relative;
    margin: 5px;
    left: 21px;
}

#secondColumn2   {
    position: relative;
    margin: 5px;
    left: 19px;
}

#secondColumn3  {
    position: relative;
    margin: 5px;
    left: 17px;
}

.mainColumn {
    position: relative;
    margin: 5px;
    margin-left: 10px;
}


/*Inputfeltene som ligger ved siden av hverandre, og ikke trenger full bredde f.eks navn og etternavn*/
.input1 {
    width: 150px;
    padding: 7px;
    border: 1px solid #ccc;
    resize: vertical;
}

/*Feltene som trenger eksta lengde f.eks epostadresse og kortnr.*/
.input2 {
    width: 250px;
    padding: 7px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-right: 10px;
}

#type   {
    width: 166px;
}

#quantity   {
    width: 166px;
}

/* Kunne lagt til en klasse ved alle de følgende elementene, og deretter trukket ut "position: relative; som felles for alle disse
Men veide dette opp mot ekstra HTML-kode, pluss felles css-element, og da er dette like god løsning (for alle har uansett 
individuell "left: X; og krever derfor hver sine css-elementer */

#firstName  {
    position: relative;
    left: 0;
}

#surName    {
    position: relative;
    left: 0px;
}

#tlf    {
    position: relative;
    left: 19px;
}

#eMail  {
    position: relative;
    left: 27px;
}

#address    {
    position: relative;
    left: 10px;
}

#postNr {
    position: relative;
    left: 21px;
}

#cardNr {
    position: relative;
    left: 24px;
}

#cvc    {
    position: relative;
    left: 0;
}

#expiryDate {
    position: relative;
    left: 0;
    width: 154px;
    padding: 5px;
    border: 1px solid #ccc;
}

/* @media laget slik at innholdet på billettkjøp ser best mulig ut uansett bredde */
@media screen and (min-width: 955px)    {
    .collectionDiv  {
        width: 300px;
    }
}

@media screen and (max-width: 704px)    {
    .collectionDiv  {
        width: 100%;
        flex-direction: column;
    }

    #formDiv    {
        width: 40%;
        margin-left: 20%;
    }

    #imgDiv {
        display: none;
    }

    #submit {
        width: 216px;
    }

    .input1, .input2 {
        width: 200px;
    }

    #type, #quantity   {
        margin-right: 35px;
    }

    #secondColumn1, #secondColumn2, #secondColumn3  {
        margin: 0 15px 0 0;
        left: 10px;
    }

    #firstName, #surName, #tlf, #eMail, #address, #postNr, #cardNr, #cvc  {
        left: 0;
    }

    #expiryDate {
        margin-right: 50px;
    }
}

@media screen and (min-width: 705px) and (max-width: 955px)    {
    .collectionDiv  {
        width: 100%;
        flex-direction: column;
    }

    #imgDiv {
        top: 260px;
    }

    #submit {
        width: 261px;
    }

    .input2 {
        width: 150px;
    }

    #firstColumn3   {
        margin: 0 0 5px 5px;
        left: 5px;
    }

    #secondColumn1   {
        margin: 0;
        left: 10px;
    }

    #secondColumn2   {
        margin: 0;
        left: 10px;
    }

    #secondColumn3  {
        margin: 0 0 5px;
        left: 10px;
    }

    #type   {
        position: relative;
        left: 2px;
    }

    #quantity   {
        position: relative;
        left: 33px;
    }

    #firstName  {
        left: 10px;
    }

    #surName    {
        left: -2px;
    }

    #cvc    {
        left: 41px;
    }

    #expiryDate {
        left: 41px;
    }
}

/*-------------------------- OM FESTIVALEN --------------------------*/
/* Nødvendige endringer for å opprettholde lesbarhet på mindre skjermer. Her er det likevel ønskelig å utnytte hele bredden på mobilen, grunnet mye tekst */
@media screen and (max-width: 650px) {
    .omFestivalenResponsive{
        margin-bottom: 50px;
    }
}
/*-------------------------------- FESTIVALKART -----------------------*/
/* Endringer fra felles flexcontainer som er nødvendige for å få festivalkartet til å fungere riktig */
.flexContainerFestivalKart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.festivalKartWrapper {
    position: relative;
    display: inline-block;
    width: 80%;
}

.festivalKart {
    width: 100%;
    height: 100%;
}
/* Responsiv tilpasning av kartikonene, i tillegg for å legge de over kartet */
.mapIcon {
    width: 10%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 1;
}

.mapIcon:hover {
    cursor: pointer;
    opacity: 0.4;
}

/* Spesifikk endring fra felles modal-popup med tanke på hotspot popup */
.outerTextWrapper {
    position: absolute;
    z-index: 3;
}

.iconText {
    position: absolute;
}

/* Undeliggende er nøyaktig og responsiv plassering av klikkbare ikoner i forhold til kart. Ikonene ligger tilpasset til kartet som wrapper */
#inngangIcon {
  top: 68%;
  right: 44%;
}

#barIcon {
    top: 13%;
    right: 73%;
}

#hovedsceneIcon {
    top: 50%;
    right: 90%;
}

#sceneAmfietIcon {
    top: 27%;
    right: 85%;
}

#parkeringIcon {
    top: 80%;
    right: 77%;
}

#baalIcon {
    top: 73%;
    right: 25%;
}

#resturantIcon {
    top: 23%;
    right: 48%;
}

#teltIcon {
    top: 60%;
    right: 3%;
}

/*Responsive kart, forstørres ved liten skjermstørrelse for bedre utnyttelse av skjermen for kart */
@media screen and (max-width: 650px) {

    .festivalKartWrapper {
        width: 100%;
    }
}

/* SPONSOR */
.flexContainerSponsor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
}
/* Endringer fra felles flexcontainer som er nødvendgi for å få sponsorelementene til å fungere riktig */
.omFestivalenMainSponsor {
    display: flex;
    justify-content: center;
    max-width: 25%;
    margin: 30px 30px 30px 30px;
}

.omFestivalenMainSponsor a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.omFestivalenMainSponsor img {
    width: 80%;
    display: flex;
    justify-content: center;
}
/* Også en endring fra felles flexcontainer, for å få subsponsorene til å legge seg riktig. Under kommer også spesifikk endring for å gjøre undersponsorene mindre framtydene. */
.flexContainerSubSponsor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Ved mobilstørrelse legger undersponsorene seg i 2 kolonner, i stedet for standard i 3 på større skjermer */
.omFestivalenSubSponsor {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 30px 30px 30px 30px;
}

.omFestivalenSubSponsor a {
    display: flex;
    justify-content: center;
}

.omFestivalenSubSponsor img {
   width: 70%;
}

/*------------------------- KONTAKTINFO ------------------------*/

#flexContainerFAQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

.FAQboxWrapper {
    height: 220px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    position: relative;
}

.FAQboxTop {
    height: 20px;
    width: 100%;
    background-color: #B7C68B;
    position: absolute;
    bottom: 200px;
    z-index: 5;
}

.FAQbox {
    font-size: 25px;
    text-align: center;
    height: 200px;
    width: 100%;
    background-color: #6D7B48;
    color: white;
    position: absolute;
    bottom: 0px;
}

.FAQbox p {
    font-size: 14px;
    text-align: left;
    margin: 20px 20px 20px 20px;
}

#flexContainerKontaktpersoner {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
}

.kontaktpersonWrapper {
    width: 500px;
    height: 280px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.kontaktperson {
    width: 250px;
    height: 250px;
}

.kontaktpersonInfoTop {
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: #6D7B48;
    top: 0;
    right: 0;
}

.kontaktpersonInfo {
    float: right;
    background-color:#B7C68B;
    width: 250px;
    height: 250px;
}

.kontaktpersonInfo h2 {
    margin-top: 50px;
}

.kontaktpersonInfo h2, .kontaktpersonInfo h3, .kontaktpersonInfo p {
    margin-left: 20px;
}

.kontaktpersonInfo p {
    color: #6D7B48;
}

#mapPlaceholder {
    background-color: #B7C68B;
    height: 700px;
    width: 80%;
    margin: auto;
}
/* Spesifikk endring akkurat her for å få det til å se bra ut på mindre skjermer*/
@media screen and (max-width: 799px)  {
    #flexContainerFAQ {
        width: 500px;
    }

    .FAQboxWrapper {
        width: 500px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .FAQbox p {
        text-align: center;
    }
        
}

@media screen and (max-width: 560px) {

    #flexContainerFAQ, #flexContainerKontaktpersoner {
        width: 100%;
    }

    .FAQboxWrapper {
        width: 100%;
        margin: 20px;
    }

    .kontaktpersonWrapper {
        height: 400px;
        width: 100%;
        padding-bottom: 30px;
        height: auto;
        margin: 20px;
    }

    .kontaktpersonWrapper img {
        width: 100%;
        height: auto;
    }

    .kontaktpersonInfoTop {
        margin-top: -10px;
        position: relative;
        width: 100%;
    }

    .kontaktpersonInfo {
        height: 150px;
        width: 100%;
        text-align: center;
    }

    .kontaktpersonInfo h2, .kontaktpersonInfo h3, .kontaktpersonInfo p {
        margin-left: 0px;
    }

    .kontaktpersonInfo h2 {
        font-size: 18px;
        margin-top: 15px;
    }
    
    .kontaktpersonInfo h3, p {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 350px) {
    #flexContainerFAQ, #flexContainerKontaktpersoner {
        width: 345px;
    }
}