
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8E7E7;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
}


/* NAVBAR */

#navbar{
    width: 100%;
    height: 180px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#navbarLogo{
    position: absolute;
}

#navbarElements{
    background-color: white;
    height: 90px;
    width: 100%;
    top: 0px;
}

#navbarElements ul{
    list-style-type: none;
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}

#navbarElements li{
    display: inline;
}

.otherPage{
    padding: 18px;
    color: black;
    text-decoration: none;
    font-size: 13pt;
}

#currentPage {
    color: #6D7B48;
    border-bottom: solid #6D7B48 2px;
    text-decoration: none;
    font-size: 13pt;
    padding: 18px;
}

#navbarElements a:hover{
    color: #B7C68B;
    border-bottom: solid #B7C68B 2px;
}

@media screen and (max-width: 900px) {
    #navbarElements a{
        padding: 10px;
        font-size: 8pt;
    }
}


/* FOOTER */

#footer{
    width: 100%;
    height: 170px;
    margin-top: 100px;
    position: relative;
    top: 100%;
    background-color: #6D7B48;
}

#soMeButtons{
    width: 250px;
    padding-left: 25px;
    padding-top: 55px;
    float: left;
}

#soMeButtons img{
    height: 60px;
    padding-right: 20px;
}

#mainSponsorButtons{
    width: 300px;
    padding-top: 35px;
    float: right;
    padding-right: 25px;
}

#mainSponsorButtons img{
    width: 80px;
    padding-left: 20px;
    float: right;
}

#toTopOfPageDefault {
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
}

#toTopOfPageDefault img {
    width: 80px;
}

#toTopOfPageHover {
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
}

#toTopOfPageHover img {
    width: 80px;
}

#toTopOfPageDefault:hover img{
    visibility: hidden;
}

#copyright {
    color: white;
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 8pt;
    bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 900px) {

    #mainSponsorButtons{
        width: 250px;
        padding-top: 55px;
    }

    #mainSponsorButtons img {
        width: 50px;
        padding-left: 15px;
    }

    #toTopOfPageDefault, #toTopOfPageHover {
        width: 60px;
    }

    #toTopOfPageDefault img {
        width: 60px;
    }

    #toTopOfPageHover img {
        width: 60px;
    }

    #copyright {
        width: 60px;
        font-size: 7px;
        bottom: 15px;
    }

    #soMeButtons img{
        height: 40px;
        padding-right: 15px;
    }

    #soMeButtons{
        width: 200px;
        padding-top: 65px;
        float: left;
    }
}


/* BILLETTKJØP: */

#billettkjopHeading  {
    font-size: 60px;
    position: relative;
    text-align: center;
    margin-top: 150px;
}

#imgDiv {
    position: absolute;
    width: 35%;
    right: 10%;
    top: 210px;
}

#ticketImg  {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

#conditionsLabel, #updatesLabel {
    font-size: 15px;
}

#submit {
    margin-left: 10px;
    margin-top: 10px;
    width: 359px;
    height: 35px;
    background-color: #6D7B48;
    font-size: 20px;
    color: white;
    transition: all .2s ease-in-out;
}

#submit:hover   {
    background-color: #B7C68B;
    transform: scale(1.03);
}

#formDiv    {
    position: relative;
    margin-left: 10%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 20px;
    /* border: 2px solid black; */
}

.collectionDiv  {
    position: relative;
    display: flex;
}

#firstColumn1, #firstColumn2, #firstColumn3    {
    position: relative;
    margin: 5px;
    margin-left: 10px;
}

#secondColumn1  {
    position: relative;
    margin: 5px;
    left: 21px;
}

#secondColumn2   {
    position: relative;
    margin: 5px;
    left: 19px;
}

#secondColumn3  {
    position: relative;
    margin: 5px;
    left: 17px;
}

.mainColumn {
    position: relative;
    margin: 5px;
    margin-left: 10px;
}

.input1 {
    width: 150px;
    padding: 7px;
    border: 1px solid #ccc;
    resize: vertical;
}

.input2 {
    width: 250px;
    padding: 7px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-right: 10px;
}

#type   {
    width: 166px;
}

#quantity   {
    width: 166px;
}

#firstName  {
    position: relative;
    left: 0;
}

#surName    {
    position: relative;
    left: 0px;
}

#tlf    {
    position: relative;
    left: 19px;
}

#eMail  {
    position: relative;
    left: 27px;
}

#address    {
    position: relative;
    left: 10px;
}

#postNr {
    position: relative;
    left: 21px;
}

#cardNr {
    position: relative;
    left: 24px;
}

#cvc    {
    position: relative;
    left: 0;
}

#expiryDate {
    position: relative;
    left: 0;
    width: 154px;
    padding: 5px;
    border: 1px solid #ccc;
}

@media screen and (min-width: 955px)    {
    .collectionDiv  {
        width: 300px;
    }
}

@media screen and (max-width: 704px)    {
    .collectionDiv  {
        width: 100%;
        flex-direction: column;
    }

    #formDiv    {
        width: 40%;
        margin-left: 20%;
    }

    #imgDiv {
        display: none;
    }

    #submit {
        width: 216px;
    }

    .input1, .input2 {
        width: 200px;
    }

    #type, #quantity   {
        margin-right: 35px;
    }

    #secondColumn1, #secondColumn2, #secondColumn3  {
        margin: 0 15px 0 0;
        left: 10px;
    }

    #firstName, #surName, #tlf, #eMail, #address, #postNr, #cardNr, #cvc  {
        left: 0;
    }

    #expiryDate {
        margin-right: 50px;
    }
}

@media screen and (min-width: 705px) and (max-width: 955px)    {
    .collectionDiv  {
        width: 100%;
        flex-direction: column;
    }

    #imgDiv {
        top: 260px;
    }

    #submit {
        width: 261px;
    }

    .input2 {
        width: 150px;
    }

    #firstColumn3   {
        margin: 0 0 5px 5px;
        left: 5px;
    }

    #secondColumn1   {
        margin: 0;
        left: 10px;
    }

    #secondColumn2   {
        margin: 0;
        left: 10px;
    }

    #secondColumn3  {
        margin: 0 0 5px;
        left: 10px;
    }

    #type   {
        position: relative;
        left: 2px;
    }

    #quantity   {
        position: relative;
        left: 33px;
    }

    #firstName  {
        left: 10px;
    }

    #surName    {
        left: -2px;
    }

    #cvc    {
        left: 41px;
    }

    #expiryDate {
        left: 41px;
    }
}


/* KONTAKTINFO */

#kontaktinfoHeading  {
    font-size: 60px;
    position: relative;
    text-align: center;
    margin-top: 150px;
}

.kontaktinfohSubHeadings {
    font-size: 35px;
    position: relative;
    text-align: center;
    margin-top: 100px;
}

#flexContainerFAQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

.FAQboxWrapper {
    height: 220px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    position: relative;
}

.FAQboxTop {
    height: 20px;
    width: 100%;
    background-color: #B7C68B;
    position: absolute;
    bottom: 200px;
    z-index: 5;
}

.FAQbox {
    font-size: 25px;
    text-align: center;
    height: 200px;
    width: 100%;
    background-color: #6D7B48;
    color: white;
    position: absolute;
    bottom: 0px;
}

.FAQbox p {
    font-size: 14px;
    text-align: left;
    margin: 20px 20px 20px 20px;
}

#flexContainerKontaktpersoner {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
}

.kontaktpersonWrapper {
    width: 500px;
    height: 280px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.kontaktperson {
    width: 250px;
    height: 250px;

}

.kontaktpersonInfo {
    float: right;
    background-color:#B7C68B;
    width: 250px;
    height: 250px;
}

.kontaktpersonInfo h2 {
    margin-top: 50px;
}

.kontaktpersonInfo h2, h3, p {
    margin-left: 20px;
}

.kontaktpersonInfo p {
    color: #6D7B48;
}

#mapPlaceholder {
    background-color: #B7C68B;
    height: 700px;
    width: 80%;
    margin: auto;
}


/* MIDLERTIDIG: RESPONSIVENESS FOR NAVBAR, FOOTER OG ELEMENTER PÅ KONTAKTINFO.HTML NÅR SKJERM MINDRE ENN 560PX (EVT LEGG TIL RESPONSIVNESS FOR MOBIL OM TID) */

@media screen and (max-width: 560px) {

    #navbar, #footer, #flexContainerFAQ, #flexContainerKontaktpersoner, h1, h2 {
        width: 560px;
    }

}
